html, body {
    height: 100%;
    width: 100%;


}

.highlight {
    background: yellow;

}

.map-container {
    float: left;
    height: 500px;
    width: 500px;


}


#map-canvas {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#routes-list {
}
